{% load static %}

<div class="container-fluid bg-light mt-5 pt-2 pb-3">
  <div class="container">
    <div class="row text-center justify-content-center">
      <div class="col-12">
        <ul class="social d-flex flex-row justify-content-center mb-1">
          <li>
            <a target="_blank" href="https://www.facebook.com/hope4afrocomms/"><i class="fab fa-facebook fa-2x"></i></a>
          </li>
          <li>
            <a target="_blank" href="https://www.youtube.com/channel/UCA7f5IjjmIfQpSOhIAmaagA"><i class="fab fa-youtube fa-2x"></i></a>
          </li>
        </ul>
        <ul class="link-list d-flex flex-column flex-md-row justify-content-center">
          <li>
            <a href="{% url 'who_we_are' %}">About Us</a>
          </li>
          <li>
            <a href="{% url 'volunteer_list' %}">Volunteer</a>
          </li>
          <li>
            <a href="{% url 'donate' %}">Donate</a>
          </li>
          <li>
            <a href="{% url 'contact_us' %}">Contact Us</a>
          </li>
        </ul>
      </div>
      <div class="col-12">
        {# <img class="img-fluid" src="{% static 'images/logo.svg' %}" alt="Hope For African Communities Logo" style="height: 120px;">#}
        <p class="mb-0">Hope For African Communities U.K. is a registered charity in England and Wales (1178602).</p>
        <p class="mb-0">Registered address: 32 Audley Way, Basildon, Essex, 32 Audley Way, Basildon, Essex, SS14 2AQ</p>
      </div>
    </div>
  </div>
</div>
