{% load static %}

<div class="container">
  <nav id="menu" class="navbar navbar-expand-xl navbar-light">
    <a class="navbar-brand" href="{% url 'home' %}">
      {% comment %}<img src="{% static 'images/logo_new.png' %}" alt="Hope For African Communities Logo">{% endcomment %}
      <img class="img-fluid" src="{% static 'images/logo.svg' %}" alt="Hope For African Communities Logo">
    </a>
    <button class="btn btn-primary btn-md mr-2 ml-auto d-xl-none" type="button">Support Us</button>
    <i class="fa fa-bars fa-2x toggle-button d-xl-none"  data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation"></i>
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item {% if request.resolver_match.url_name == 'home' %}active{% endif %}">
          <a class="nav-link" href="{% url 'home' %}">Home</a>
        </li>

        <li class="nav-item dropdown {% if request.resolver_match.url_name in 'who_we_are,meet_the_team' %}active{% endif %}">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About Us</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item {% if request.resolver_match.url_name == 'who_we_are' %}active{% endif %}" href="{% url 'who_we_are' %}">Who We Are</a>
            <a class="dropdown-item {% if request.resolver_match.url_name == 'meet_the_team' %}active{% endif %}" href="{% url 'meet_the_team' %}">Meet The Team</a>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Events</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Contact Us</a>
        </li>

        <li class="nav-item d-xl-inline-block d-none">
          <a class="btn btn-primary nav-link">Support Us</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
