// COLORS
$primary: #83ba09;
$primary-light: #a5e21d;
$primary-dark: #85b714;
$font-color-primary: #5f646b;
$font-color-secondary: #345990;
$font-color-terciary: #e68a54;
$icon-list-border: #e6e6ea;

//// navbar
$menu-item-color: #23262a;
