// COLORS
// $primary: #83ba09;
// $primary-light: #a5e21d;
$primary-dark: #85b714;
// $font-color-primary: #5f646b;
// $font-color-secondary: #345990;
// $font-color-terciary: #e68a54;
// $font-color-primary: #345990;
// $font-color-secondary: #e68a54;
// $font-color-terciary: #e68a54;
$icon-list-border: #e6e6ea;

$font-color-primary: #83ba09;

$color-body: #212529;
$color-primary: #345990;
$color-secondary: #e68a54;
$color-border: #cea96c;
$color-facebook: #3b5998;
$color-youtube: #e52d27;
$primary-light: #a1d0ec; // TODO: replace this name!

//// navbar
$menu-item-color: #23262a;
