@import "variables";

body {
  min-height: 100vh;
  color: $color-body;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.3px;
}

hr {
  border-color: #cea96c;
}

.page-title {
  padding-top: 1rem;
  padding-bottom: 2rem;
  color: $color-primary;

  h1 {
    display: inline-block;
    margin-top: .5rem;
  }

  hr {
    margin-top: unset !important;
    margin-bottom: unset !important;
  }
}

.heading {
  color: $color-primary;
}

.sub-heading {
  color: $color-secondary;
}

.parallax-section {
  background: rgba(0,0,0,0.4) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  min-height: 400px;
}

header {
  .navbar-light {
    padding-bottom: 0;

    .navbar-brand {
      text-align: center;
      max-width: 135px;
    }

    .navbar-collapse {
      .navbar-nav {
        .nav-item {
          margin-right: 1rem;
          color: $menu-item-color;
          font-size: 14px;
          text-transform: uppercase;
          letter-spacing: 4px;
          line-height: 17px;
          transition: 0.3s;

          .nav-link {
            color: $menu-item-color;

            &.btn-primary {
              padding-right: 30px;
              padding-left: 30px;
            }

            &:not(.btn):not(.active):hover {
              color: $color-primary;
              transition: border-width 0.2s ease;
              border-bottom: 5px solid;
            }

          }

          &.active {
            .nav-link {
              color: $color-primary;
              border-bottom: 5px solid;
            }
          }

          .dropdown-item {
            &.active {
              background-color: $color-primary;
            }
          }
        }
      }
    }

    .btn-primary {
      font: bold 14px 'Proxima Nova Rg', sans-serif;
      text-transform: uppercase;
      letter-spacing: 4px;
      padding: 10px 10px;
      border-radius: .25rem;
    }

    .toggle-button {
      font-size: 36px;
    }
  }
}

/* ------ buttons ------ */
.btn-primary {
  background-color: $color-primary;
  color: white !important;
  font-weight: 400;
  border: none;
  overflow: hidden;
  opacity: 0.9;
  -webkit-transition: 0.6s all;
  transition: 0.6s all;

  font: bold 14px 'Proxima Nova Rg', sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  border-radius: .25rem;

  &:hover {
    background-color: $primary-light;
  }

  &:active, &:focus, &:not(:disabled):not(.disabled):active {
    background-color: $color-primary;
    box-shadow: none;
  }
}

.btn-secondary {
  background-color: $color-secondary;
  color: white !important;
  font-weight: 400;
  border: none;
  overflow: hidden;
  opacity: 0.9;
  -webkit-transition: 0.6s all;
  transition: 0.6s all;

  font: bold 14px 'Proxima Nova Rg', sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  /*padding: 10px 10px;*/
  border-radius: .25rem;

  &:hover {
    background-color: $secondary-light;
  }

  &:active, &:focus, &:not(:disabled):not(.disabled):active {
    background-color: $color-secondary;
    box-shadow: none;
  }
}
/* ------ buttons ------ */

ul.icon-list {
  margin: 0;
  padding: 0;
  list-style: none;

  li > i {
    margin-right: 5px;
    width: 25px;
    height: 25px;
    line-height: 25px;
    border-radius: 50%;
    color: $color-primary;
    border: 1px solid $icon-list-border;
    text-align: center;
    font-size: 15px;
  }
}

footer {
  color: $color-body;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.3px;

  ul {
    list-style: none;

    &.social {
      li {
        margin-right: 1rem;
        margin-left: 1rem;

        i {
          &.fa-facebook {
            color: $color-facebook;
          }

          &.fa-youtube {
            color: $color-youtube;
          }
        }
      }
    }

    &.link-list {
      li {
        a {
          color: $color-body;
          font-family: 'Roboto', sans-serif;
          font-size: 15px;
          font-weight: 300;
          letter-spacing: 0.3px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  header{
    .navbar-light {
      .navbar-collapse {
        .navbar-nav {
          .nav-item {
            &.active {
              .nav-link {
                border-bottom: none;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  footer {
    ul {
      &.link-list {
        li {
          border-right: 1px solid $color-body;
          padding-right: 1rem;
          padding-left: 1rem;

          &:last-child {
            border-right: 0;

            a {
              padding-right: 0;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 575.98px) {
  header {
    .navbar-light {
      .navbar-brand {
        max-width: 90px;
      }
    }
  }
}

.resp-sharing-button__link,
.resp-sharing-button__icon {
  display: inline-block
}

.resp-sharing-button__link {
  text-decoration: none;
  color: #fff;
  margin: 0.5em
}

.resp-sharing-button {
  border-radius: 5px;
  transition: 25ms ease-out;
  padding: 0.5em 0.75em;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif
}

.resp-sharing-button__icon svg {
  width: 1em;
  height: 1em;
  margin-right: 0.4em;
  vertical-align: top
}

.resp-sharing-button--small svg {
  margin: 0;
  vertical-align: middle
}

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
  stroke: #fff;
  fill: none
}

/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
  fill: #fff;
  stroke: none
}

.resp-sharing-button--twitter {
  background-color: #55acee
}

.resp-sharing-button--twitter:hover {
  background-color: #2795e9
}

.resp-sharing-button--pinterest {
  background-color: #bd081c
}

.resp-sharing-button--pinterest:hover {
  background-color: #8c0615
}

.resp-sharing-button--facebook {
  background-color: #3b5998
}

.resp-sharing-button--facebook:hover {
  background-color: #2d4373
}

.resp-sharing-button--tumblr {
  background-color: #35465C
}

.resp-sharing-button--tumblr:hover {
  background-color: #222d3c
}

.resp-sharing-button--reddit {
  background-color: #5f99cf
}

.resp-sharing-button--reddit:hover {
  background-color: #3a80c1
}

.resp-sharing-button--google {
  background-color: #dd4b39
}

.resp-sharing-button--google:hover {
  background-color: #c23321
}

.resp-sharing-button--linkedin {
  background-color: #0077b5
}

.resp-sharing-button--linkedin:hover {
  background-color: #046293
}

.resp-sharing-button--email {
  background-color: #777
}

.resp-sharing-button--email:hover {
  background-color: #5e5e5e
}

.resp-sharing-button--xing {
  background-color: #1a7576
}

.resp-sharing-button--xing:hover {
  background-color: #114c4c
}

.resp-sharing-button--whatsapp {
  background-color: #25D366
}

.resp-sharing-button--whatsapp:hover {
  background-color: #1da851
}

.resp-sharing-button--hackernews {
background-color: #FF6600
}
.resp-sharing-button--hackernews:hover, .resp-sharing-button--hackernews:focus {   background-color: #FB6200 }

.resp-sharing-button--vk {
  background-color: #507299
}

.resp-sharing-button--vk:hover {
  background-color: #43648c
}

.resp-sharing-button--facebook {
  background-color: #3b5998;
  border-color: #3b5998;
}

.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
  background-color: #2d4373;
  border-color: #2d4373;
}

.resp-sharing-button--twitter {
  background-color: #55acee;
  border-color: #55acee;
}

.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
  background-color: #2795e9;
  border-color: #2795e9;
}
