@import "variables";

body {
  min-height: 100vh;
  color: $color-body;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.3px;
}

hr {
  border-color: #cea96c;
}

.page-title {
  padding-top: 1rem;
  padding-bottom: 2rem;
  color: $color-primary;

  h1 {
    display: inline-block;
    margin-top: .5rem;
  }

  hr {
    margin-top: unset !important;
    margin-bottom: unset !important;
  }
}

.heading {
  color: $color-primary;
}

.sub-heading {
  color: $color-secondary;
}

.parallax-section {
  background: rgba(0,0,0,0.4) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  min-height: 400px;
}

header {
  .navbar-light {
    padding-bottom: 0;

    .navbar-brand {
      text-align: center;
      max-width: 135px;
    }

    .navbar-collapse {
      .navbar-nav {
        .nav-item {
          margin-right: 1rem;
          color: $menu-item-color;
          font-size: 14px;
          text-transform: uppercase;
          letter-spacing: 4px;
          line-height: 17px;
          transition: 0.3s;

          .nav-link {
            color: $menu-item-color;

            &.btn-primary {
              padding-right: 30px;
              padding-left: 30px;
            }

            &:not(.btn):not(.active):hover {
              color: $color-primary;
              transition: border-width 0.2s ease;
              border-bottom: 3px solid;
            }

          }

          &.active {
            .nav-link {
              color: $color-primary;
              border-bottom: 3px solid;
            }
          }

          .dropdown-item {
            &.active {
              background-color: $color-primary;
            }
          }
        }
      }
    }

    .btn-primary {
      font: bold 14px 'Proxima Nova Rg', sans-serif;
      text-transform: uppercase;
      letter-spacing: 4px;
      padding: 10px 10px;
      border-radius: .25rem;
    }

    .toggle-button {
      font-size: 36px;
    }
  }
}

/* ------ buttons ------ */
.btn-primary {
  background-color: $color-primary;
  color: white !important;
  font-weight: 400;
  border: none;
  overflow: hidden;
  opacity: 0.9;
  -webkit-transition: 0.6s all;
  transition: 0.6s all;

  font: bold 14px 'Proxima Nova Rg', sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  border-radius: .25rem;

  &:hover {
    background-color: $primary-light;
  }

  &:active, &:focus, &:not(:disabled):not(.disabled):active {
    background-color: $color-primary;
    box-shadow: none;
  }
}

.btn-secondary {
  background-color: $color-secondary;
  color: white !important;
  font-weight: 400;
  border: none;
  overflow: hidden;
  opacity: 0.9;
  -webkit-transition: 0.6s all;
  transition: 0.6s all;

  font: bold 14px 'Proxima Nova Rg', sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  /*padding: 10px 10px;*/
  border-radius: .25rem;

  &:hover {
    background-color: $secondary-light;
  }

  &:active, &:focus, &:not(:disabled):not(.disabled):active {
    background-color: $color-secondary;
    box-shadow: none;
  }
}
/* ------ buttons ------ */

ul.icon-list {
  margin: 0;
  padding: 0;
  list-style: none;

  li > i {
    margin-right: 5px;
    width: 25px;
    height: 25px;
    line-height: 25px;
    border-radius: 50%;
    color: $color-primary;
    border: 1px solid $icon-list-border;
    text-align: center;
    font-size: 15px;
  }
}

footer {
  color: $color-body;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.3px;

  ul {
    list-style: none;

    &.social {
      li {
        margin-right: 1rem;
        margin-left: 1rem;

        i {
          &.fa-facebook {
            color: $color-facebook;
          }

          &.fa-youtube {
            color: $color-youtube;
          }
        }
      }
    }

    &.link-list {
      li {
        a {
          color: $color-body;
          font-family: 'Roboto', sans-serif;
          font-size: 15px;
          font-weight: 300;
          letter-spacing: 0.3px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  header{
    .navbar-light {
      .navbar-collapse {
        .navbar-nav {
          .nav-item {
            &.active {
              .nav-link {
                border-bottom: none;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  footer {
    ul {
      &.link-list {
        li {
          border-right: 1px solid $color-body;
          padding-right: 1rem;
          padding-left: 1rem;

          &:last-child {
            border-right: 0;

            a {
              padding-right: 0;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 575.98px) {
  header {
    .navbar-light {
      .navbar-brand {
        max-width: 90px;
      }
    }
  }
}
