{% extends 'base.html' %}
{% load static %}
{% load pipeline %}

{% block extra-stylesheet %}
  {% stylesheet 'pages-about-us' %}
{% endblock %}

{% block content %}
<section class="container-fluid bg-light mb-5">
  <div id="main" class="container pb-3 pt-3">
    {% include 'partials/page_title.html' with page_title='Who We Are' %}

    <div class="row">
      <div class="col-md-6 mx-auto d-block">
        <img src="{% static 'images/about_us.jpg' %}" class="img-fluid" alt="About us">
      </div>
      <div class="col-lg-6 d-flex align-items-center pt-2 pt-lg-0">
        <p class="lead">Hope for African Communities (HAC) is a charity which seeks to empower poor African communities by availing them with opportunities to better themselves. We aim to rebuild devastated and helpless lives by providing resources and programmes to help those affected to be self sustainable. Our emphasis is on orphans and widows assisting on income generation and provide educational opportunities for orphans</p>
      </div>
    </div>
  </div>
</section>

<section id="secondary" class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card text-center">
        <i class="fas fa-hands-helping"></i>
        <h5 class="card-title">Mission & Vision</h5>
        <div class="card-body pt-1">
          <p class="card-text">Our Mission is to identify those who require our help most by working with local community leaders in the recipient areas of Africa. We will then Identify the and assess the best form of aid we can dispense. As we are still only operational in Zimbabwe our vision is to expand into the rest of Africa by identifying and working with like minded strategic partners.</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card text-center">
        <i class="fas fa-history"></i>
        <h5 class="card-title">History</h5>
        <div class="card-body pt-1">
          <p class="card-text">The plight of those who lose a partner or a parent mostly gets scant attention in some African societies where either widows or orphans gets overlooked by both state and society. The ability to look after themselves is however not diminished but the opportunities are very limited. Visits to Africa exposed the lack of support for the said groups. Hope for African communities was founded to help real people on the ground by presenting them with opportunities to better themselves.</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card text-center">
        <i class="fas fa-people-carry"></i>
        <h5 class="card-title">Operational Policy</h5>
        <div class="card-body pt-1">
          <p class="card-text">Transparency is the key driver in what Hope for African Communities stands for. Following set guidelines by both donor and recipient governments helps us dispense aid to the most vulnerable in an equitable way. HAC is governed by a board of trustees with a wealth of varied experience in international development, charity finance and commerce. The board meets quarterly and agrees strategy ensuring financial accountability and best practice in governance.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="help" class="container-fluid mb-5">
  <div class="row text-center">
    <div class="parallax-section d-flex align-items-center justify-content-center w-100" style="background-image: url({% static 'images/about_us_help.png' %});">
      <div class="col-10 offset-1">
        <h4>Help us to aid those in need</h4>
        <p class="lead">We welcome all kinds of donations through our comprehensive and secure donations system.</p>
        <a class="btn btn-primary btn-lg" href="{% url 'donate' %}" role="button">Donate Now</a>
      </div>
    </div>
  </div>
</section>

<section id="commitment" class="container">
  <div class="row">
    <div class="col-12">
      <h3 class="heading">Our Commitment</h3>
    </div>
    <div class="col-12">
      <p class="lead">Through the provision of financial, commercial and tangible products our mission is to restore meaning and happiness to the lives of the less fortunate, widowed, disabled and orphans in order to inspire hope through the return of their dignity and an enhanced exposure to otherwise lacking opportunity.</p>
    </div>
  </div>
  <div class="row justify-content-between mt-2">
    <div class="col-lg-4 text-center">
      <div class="card text-center h-100">
        <img class="card-img-top" src="{% static 'images/communities.jpg' %}" alt="communities">
        <div class="card-body">
          <h5 class="card-title">The communities</h5>
          <p class="card-text">Rural communities find it harder to cope with the perpetual strain of lack of finance. By helping these communities we aim to empower them to achieve self financial sustainance through various micro project schemes.</p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 text-center">
      <div class="card text-center h-100">
        <img class="card-img-top" src="{% static 'images/projects.jpg' %}" alt="projects">
        <div class="card-body">
          <h5 class="card-title">Our Projects</h5>
          <p class="card-text">Hope For African Communities exists to assist in income generating activities for widows, educational support and health programmes for vulnerable orphans, help as much as we can the disabled and provide high school educational for vulnerable talented youth.</p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 text-center">
      <div class="card text-center h-100">
        <img class="card-img-top" src="{% static 'images/beneficiaries.jpg' %}" alt="beneficiaries">
        <div class="card-body">
          <h5 class="card-title">The Beneficiaries</h5>
          <p class="card-text">We particularly aim to help the groups that are easily overlooked by more conventional government aid because of society stigmas.

These are Widows, the disabled, orphans and the elderly.</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
