@import "../variables";

#main {
  margin-bottom: 3rem;
}

#help {
  color: white;
}

#secondary {
  margin-top: 3rem;

  .card {
    border: none;

    .card-title {
      color: $color-secondary;
    }

    i {
      font-size: 6rem;
      color: $color-secondary;
      padding-bottom: 1rem;
    }
  }
}
