@import "../variables";

#help {
  color: white;
}

#secondary {
  .card {
    border: none;

    .card-title {
      color: $color-secondary;
    }

    i {
      font-size: 6rem;
      padding-bottom: 1rem;
    }
  }
}

#commitment {
  .card {
    img {
      min-height: 286px;
    }
  }
}
