@import "../variables";

#other-help {
  .card {
    border: none;

    a {
      text-decoration: none;
    }

    .card-title {
      color: $color-secondary;
    }

    i {
      font-size: 6rem;
      color: $color-secondary;
      padding-bottom: 1rem;
    }
  }
}
