@import "../variables";

#team-tab {
  .nav-item {
    .nav-link {
      color: $color-body;
      background-color: transparent;

      &.active {
        color: $color-primary;
        border-bottom: 5px solid;
      }
    }
  }
}
