@import "../variables";

#main {
  margin-bottom: 3rem;
}

#team-tab {
  .nav-item {
    .nav-link {
      color: $menu-item-color;
      background-color: transparent;

      &.active {
        color: $primary;
        border-bottom: 5px solid;
      }
    }
  }
}
